<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div id="{{word}}" class="col-xs-2 text-center"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong>{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry" method="POST" action="/_check">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
  </form>
</div></div>

<br />

<p id="error_message" class="message"></p>

<h2>You found </h2>
<p id="results"> </p>

<script>
//now start javascript code

//get things that flask_vocab sends in session dictionary & set up variables
var target_count = {{session.target_count}};
var jumble = "{{session.jumble}}";  
var success_count = 0;
var success_list = [];
var word_list = {{g.vocab|safe}};


// suppress letting user press enter key to submit 
$("#entry").submit( function(event) {
   event.preventDefault();
  });
  
$("#attempt").keyup(function() {
   var txt = $("#attempt").val();
   
   //First just make sure that the word hasnt already been typed in 
   if (success_list.indexOf(txt) != -1)
   {
        //the user already found this word
        $("#error_message").html("You have already found the word '" + txt + "'. Try a different word.");
        //unhighlight all words
        for (var i=0; i<word_list.length; i++)
        {
            var characters = document.getElementById(word_list[i]);
            characters.style.backgroundColor = "transparent";
        }
        return;
   }
   
   $.getJSON( "/_check", { text: txt, jumble: jumble }, //this is the AJAX call. 
              function(data) {
                legal = data.result.in_jumble;
                matched = data.result.matched;
                highlight_list = data.result.highlight_list;
                console.log("legal: " + legal)
                console.log("matched: " + matched)
                console.log("highlight list: " + highlight_list)
                if (!legal) 
                {
                    $("#error_message").html("You have typed in an invalid character.");
                    var txt_len = txt.length;
                    $("#attempt").val(txt.substring(0,(txt_len-1)));
                } 
                else if (matched) 
                {
                    $("#error_message").html("");
                    success_list.push(txt);
                    success_count++;
                    $("#attempt").val("");
                    $("#results").append(txt + " ");
                    
                    //unhighlight all words
                    for (var i=0; i<word_list.length; i++)
                    {
                        var characters = document.getElementById(word_list[i]);
                        characters.style.backgroundColor = "transparent";
                    }
                    
                    if (success_count >= target_count)
                    {
                        window.location.replace("success");
                    }
                }
                else
                {
                    //have to wait and see what the user types in 
                    $("#error_message").html("");
                    //if a word in the vocab list contains all the letters from the text 
                    //then highlight it. Else, unhighlight it.
                    for (var i=0; i<word_list.length; i++)
                    {
                        console.log(word_list[i])
                        if ((highlight_list.indexOf(word_list[i]) != -1) && txt!="")
                        {
                            var characters = document.getElementById(word_list[i]);
                            characters.style.backgroundColor = "yellow";
                        }
                        else
                        {
                            var characters = document.getElementById(word_list[i]);
                            characters.style.backgroundColor = "transparent";
                        }
                    }
                }
               }
           );
   });

</script>

 </div> <!-- container -->
</body> </html>

